@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #e5e7ed; /* added this here because the line-color from the react vertical timeline messed up with the main html parent tag*/
}
html.dark {
    --line-color: rgba(255, 255, 255, 0.1);
}

@font-face {
  font-family: 'clash-display-bold';
  src: url('../public/Fonts/clash-display/ClashDisplayBold.otf') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'clash-display-regular';
  src: url('../public/Fonts/clash-display/ClashDisplayRegular.otf') format('woff2');
  font-weight: 400;
  font-style: base;
}
@font-face {
  font-family: 'clash-display-medium';
  src: url('../public/Fonts/clash-display/ClashDisplayMedium.otf') format('woff2');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'clash-display-semibold';
  src: url('../public/Fonts/clash-display/ClashDisplaySemibold.otf') format('woff2');
  font-weight: 600;
  font-style: semibold;
}

body{
    @apply dark:bg-gray-900;
    @apply dark:text-slate-200;
}
