@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  src: url('../public/Fonts/clash-display/ClashDisplayBold.otf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
